header {
  text-align: center;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-align: center;
  color: gray;
  padding-left: 10px;
  padding-right: 10px;
}

figcaption {
  font-size: smaller;
  text-align: center; 
}

 #featured-property p {
  text-align: center;
  width: 800px;
  margin: auto;
}

#details div {
  float: left;
  text-align: center;
  margin: auto;
  background-color: red;
  width: 25%;
}

